# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\SSAFY\Desktop\code_studty\algorithm_lecture\stack\problems\09_stack_II\4881_배열_최소_합\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
